<!DOCTYPE html>
<html>
    <head>
        <meta name= "viewport" content="width=device-width, initial-scale = 1.0">
        <title>ManageLib | Home</title>
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="/navbar.css">
    </head>
    <ul class="topnav">
        <nav>
            <li id="logo">
                <a href="/" class="logo"><img src = "/images/logo.png" height= 60></a>
            </li>
            
            <li id="home">
                <a href="/" class="tabs">Home</a>
            </li>
            
            <li id="events" class="tabs">
                <a href="/events" class="tabs">Events</a>
            </li>

            <li id="calendar" class="tabs">
                <a href="/calendar" class="tabs">Calendar</a>
            </li>    

            <% if (user) { %>
                <li class="greeting">Welcome,</li> <a href = "/account"><%= user.email %></a>
                <button class="logout" onclick="window.location.href='/logout'">Logout</button>
            <% } else { %>
                <button class="signup" onclick="window.location.href='/signup'">Sign Up</button>
                <button class="login" onclick="window.location.href='/login'">Log In</button>
            <% } %>
        </nav>
    </ul>
    
    <div class = "checked">
        <h1>Items Checked Out:</h1>
        <div id="preview-gallery-container">
            <% resources.forEach(resource => { %>
                <% if (resource.type == "book") { %>
                    <div class = "preview-gallery"> 
                        <img src="/images/book.jpeg" alt="Book" width="180" height="276"> 

                        <div class="title">Title: <%= resource.title %></div> 
                        <div class="author">Author: <%= resource.author %></div>
                        <div class="due">Due: <%= resource.author %></div>
                    </div>  

                <% } else if (resource.type == "magazine") { %>
                    
                    <div class = "preview-gallery">
                        <img src="/images/magazine.jpg" alt="Book" width="180" height="276"> 

                        <div class="publisher">Publisher: <%= resource.publisher %></div> 
                        <div class="issue">Issue: <%= resource.issue %>, <%= resource.year %></div>
                        <div class="due">Due: <%= resource.author %></div>
                    </div>   

                <% } %>
            <% }) %>
        </div>
    </div>

</html>