<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name= "viewport" content="width=device-width, initial-scale = 1.0">
        <title>ManageLib | Events</title>
        <link rel="stylesheet" href="/eventsStyle.css">
        <link rel="stylesheet" href="/navbar.css">
    </head>
<body>
    <ul class="topnav">
        <nav>
            <li id="logo">
                <a href="/" class="logo"><img src = "/images/logo.png" height= 60></a>
            </li>
            
            <li id="home">
                <a href="/" class="tabs">Home</a>
            </li>
            
            <li id="events" class="tabs">
                <a href="/events" class="tabs">Events</a>
            </li>

            <li id="calendar" class="tabs">
                <a href="/calendar" class="tabs">Calendar</a>
            </li>    
            
            <% try {if (user.userRole == "admin") { %>
                <li id="controlCenter" class="tabs">
                    <a href="/control-center" class="tabs">Control Center</a>
                </li>
            <% }} catch(err) {} %>
                
            
            <% if (user) { %>
                <li class="greeting">Welcome, <%= user.email %></li>
                <button class="logout" onclick="window.location.href='/logout'">Logout</button>
            <% } else { %>
                <button class="signup" onclick="window.location.href='/signup'">Sign Up</button>
                <button class="login" onclick="window.location.href='/login'">Log In</button>
            <% } %>
        </nav>
    </ul>

    <div>
        <div id="preview-gallery-container">
            <% events.forEach(event => { %>
                <div class = "preview-gallery prbut"> 
                    <img src=<%= event.image %> alt="Book" width="350" height="350"> 
                    <div class="title props"><%= event.title %></div> 
                    <div class="description props"><%= event.description %></div>
                    <div class="date props"><%= event.date.toDateString().substring(3,15) %></div>
                    <div class="time props"><%= event.time %></div>
                    
                  
                    
                    <% if (user) { %>
                         <button class="rsvp-button props" onclick="window.location.href='/rsvp/<%= event._id %>'">RSVP</button> 
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>

