<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name= "viewport" content="width=device-width, initial-scale = 1.0">
        <title>ManageLib | Events</title>
        <link rel="stylesheet" href="eventsStyle.css">
    </head>
<body>
    <div class="topnav">
        <nav>
            <a href="/" class = "logo"><img src = "/images/logo.png" height= 60></a>
            <a href="/">Books</a>
            <a href="/events">Events</a>
            <a href="/calendar">Calendar</a>
            <% if (session.userId) { %>
                <li>
                    <span>Welcome, <%= session.userName %></span>
                </li>
                <button onclick="window.location.href='/logout'">Logout</button>
            <% } else { %>
                <button onclick="window.location.href='/login'">Log In</button>
                <button class="register" onclick="window.location.href='/signup'">Sign Up</button>
            <% } %>
    </div>

    <div class="container">
        <h2>Upcoming Events</h2>
        
        <div id="preview-gallery-container">
            <% events.forEach(event => { %>
                <div class = "preview-gallery"> 
                    <div class="title"><%= event.title %></div> 
                    <div class="description"><%= event.description %></div>
                    <div class="date"><%= event.date.toDateString().substring(3,15) %></div>
                    <div class="time"><%= event.time %></div>
                    <img src=<%= event.image %> alt="Book" width="350" height="auto"> 
                </div>
            <% }) %>
        </div>

        </div>
    </div>
</body>
</html>

