<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name= "viewport" content="width=device-width, initial-scale = 1.0">
        <title>ManageLib | Events</title>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
    <ul class="topnav">
        <nav>
            <li id = "logo">
                <a href="/" class = "logo"><img src = "/images/logo.png" height= 60></a>

            </li>
            <li>
                <a href="/">Books</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>

            <a href="/calendar">Calendar</a>

            <button class = "login" onclick="window.location.href='/login'">Log In</button>
        </nav>
    </ul>

    <div>
        <div id="preview-gallery-container">
            <% events.forEach(event => { %>
                <div class = "preview-gallery"> 
                    <div class="title"><%= event.title %></div> 
                    <div class="description"><%= event.description %></div>
                    <div class="date"><%= event.date.toDateString().substring(4,7) %></div>
                    <div class="time"><%= event.time %></div>
                    <img src=<%= event.image %> alt="Book" width="350" height="auto"> 
                </div>
            <% }) %>
        </div>

    </div>
</body>
</html>

